@use "../abstracts";

h1,
h2,
h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  margin-top: 0;
}

p {
  font-family: abstracts.$barlow;
  font-weight: 600;
  margin-top: 0;
}

a {
  font-family: abstracts.$fraunces;
  font-weight: 900;
  color: abstracts.$black;
  text-decoration: none;
}
