@use "../abstracts";

.gallery {
  display: flex;
  flex-wrap: wrap;
  &__image {
    display: block;
    width: 50%;

    &--milkbottles {
      content: url(#{abstracts.$imagesPath}/mobile/image-gallery-milkbottles.jpg);
    }

    &--orange {
      content: url(#{abstracts.$imagesPath}/mobile/image-gallery-orange.jpg);
    }

    &--cone {
      content: url(#{abstracts.$imagesPath}/mobile/image-gallery-cone.jpg);
    }

    &--cubes {
      content: url(#{abstracts.$imagesPath}/mobile/image-gallery-sugar-cubes.jpg);
    }
  }

  @media (min-width: abstracts.$breakpoint-tablet) {
    &__image {
      width: 25%;
      &--milkbottles {
        content: url(#{abstracts.$imagesPath}/desktop/image-gallery-milkbottles.jpg);
      }

      &--orange {
        content: url(#{abstracts.$imagesPath}/desktop/image-gallery-orange.jpg);
      }

      &--cone {
        content: url(#{abstracts.$imagesPath}/desktop/image-gallery-cone.jpg);
      }

      &--cubes {
        content: url(#{abstracts.$imagesPath}/desktop/image-gallery-sugar-cubes.jpg);
      }
    }
  }
}
