@use "../abstracts";

.service {
  background-size: cover;
  padding: 2.5rem 2rem;
  text-align: center;
  &__title {
    margin-top: 300px;
    color: abstracts.$dark-desaturated-cyan;
  }

  &__body {
    color: abstracts.$dark-desaturated-cyan;
  }
}
