@use "../abstracts";

.testimonial {
  max-width: 40ch;

  &__display-picture {
    border-radius: 50%;
    width: 20%;
    margin: 2rem 0;
  }

  &__body {
    color: abstracts.$dark-grayish-blue;
  }

  &__name {
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    font-weight: 700;
  }

  &__position {
    color: abstracts.$grayish-blue;
    font-size: 1rem;
  }
}
